<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('components/head'); %>
</head>
<body class="container">

<header>
  <%- include('components/header.ejs'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to the Morze Chat</h1>
    <%- include('components/register.ejs'); %>
  </div>
</main>

<footer>
  <%- include('components/footer.ejs'); %>
</footer>

</body>
</html>