<div class="form-container">
        <form class="form" id="messForm">
        <label class="text_message" for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Your name" class="form-control">
        <br>
        <label class="text_message" for="permissionLevel">Level</label>
        <input type="text" name="permissionLevel" id="permissionLevel" placeholder="Your permission level" class="form-control">
        <br>
        <label class="text_message" for="message">Message</label>
        <div class="form-field">
          <textarea name="message" id="message" class="form-control" placeholder="Your message"></textarea>
        </div>
        <br>
        <input class="submit-form" type="submit" id="submit" value="Send">
      </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var min = 1;
  var max = 6;
  var random = Math.floor(Math.random() * (max - min)) + min;
  var alertClass;
  switch (random) {
    case 1:
      alertClass = 'secondary';
      break;
    case 2:
      alertClass = 'danger';
      break;
    case 3:
      alertClass = 'success';
      break;
    case 4:
      alertClass = 'warning';
      break;
    case 5:
      alertClass = 'info';
      break;
    case 6:
      alertClass = 'light';
      break;
  }

  $(function() {
    var socket = io.connect();
    var $form = $("#messForm");
    var $name = $("#name"); 
    var $permissionLevel = $("#permissionLevel");
    var $textarea = $("#message");
    var $all_messages = $("#all_mess");
    var socket = io.connect();

    var room = "abc123";

    socket.on('connect', function() {
      socket.emit('create', room);
    });

    $form.submit(function(event) {
      event.preventDefault();
      socket.emit('send mess', {mess: $textarea.val(), name: $name.val(), permissionLevel: $permissionLevel.val(), className: alertClass});
      $textarea.val('');
    });

    socket.on('add mess', function(data) {
      $all_messages.append("<div class='alert alert-" + data.className + "'><b>" + data.name + "</b>: " + data.mess  + "</div>");
    });

  });
</script>

