<div class="chat-room">
    <h3>Chat room</h3>
    
	<div class="bubbleWrapper">
		<div class="inlineContainer">
            <div id="all_mess"></div>

		</div>
        <span class="own"><%= Date(Date.now()).toString() %></span>
    	</div>
</div>